{% extends 'base.html.twig' %}

{% block title %}Category #{{ categoryName }}{% endblock %}

{% block body %}
    <div class="media">



        <div class="media-body">
            <h1 class="mt-0">{{categoryName }}</h1>
            {% for programs in program %}



            <p>{{programs.id}}</p>
            <p class="mt-0">{{ programs.title }}</p>
            <p>{{programs.summary}}</p>
            <br>
            <a href="{{ path("program_show", { id: programs.id }) }}">Voir la fiche</a>
            <br>
            {% else %}
        Aucune série trouvée.

            {% endfor %}
        </div>
    </div>

    <a href="{{ path('category_index') }}">
        Retour à la liste des categories
    </a>
{% endblock %}